@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --heading-color: #dd3333
}

html, body {
    height: 100%;
    scroll-snap-type: y mandatory; 
    scroll-behavior: smooth; 
    overscroll-behavior: none;
    font-family: "Lato", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: var(--heading-color);
}

a.nav-link:hover {
    color: var(--heading-color);
}

/* ∞ body stuff */

.top-heading {
    margin-top: 10vh;
}

#title, .row-container {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    min-height: 100vh;
}

.animated-element {
    opacity: 0;
    transition: all 2s;
}

.animated-element.visible {
    opacity: 1;
}

.end {
    scroll-snap-stop: normal;
    min-height: 85vh; /* leave some room for the footer */
}

.chart {
    width: 100%;
    height: 600px; 
    margin: auto;
}

#generationsGraph {
    width: 100%;
    height: 45vh;
}